<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaz Web</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="topnav">
        <h1>Sistema Antifraude</h1>
    </div>
    <div class="sidebar">
        <div class="sidebar-buttons">
            <a href="/configurar"><button class="sidebar-button">Configurar Reglas</button></a>
            <a href="/alertas"><button class="sidebar-button">Alertas</button></a>
            <a href="/reportes"><button class="sidebar-button">Reportes</button></a>
        </div>
    </div>
    <div class="content">
        <!-- Aquí se mostrará el contenido principal -->
        {% block content %}{% endblock %}
    </div>
</body>
</html>
<script>
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        var sidebar = document.querySelector(".sidebar");
        if (document.body.scrollTop > 60 || document.documentElement.scrollTop > 60) {
            document.querySelector(".topnav").classList.add("scrolled");
            sidebar.classList.add("hidden");
        } else {
            document.querySelector(".topnav").classList.remove("scrolled");
            sidebar.classList.remove("hidden");
        }
    }
</script>
